<!DOCTYPE html>
<html>
<head>
<title> Arare playground </title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="{{url_for('static', filename='matter/matter.min.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js"></script>

<script src="{{url_for('static', filename='arare.js')}}"></script>

</head>

<body>
<div id="left">
<div id="editor">ボールAがある
    色は赤
    位置は100,100
    半径は50

ボールBがある
    色は赤
    位置は100,100
    半径は50
</div>
</div>
<div id="right">
<div id="canvas"></div>
</div>

<script src="{{url_for('static', filename='editor.js')}}"></script>
</body>
</html>
